{
  "env": {
    "jest": true
  },
  "rules": {
    "indent": [1, 12],
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
